#form-detail
  h4
    color: #2776b8
    margin-bottom: 0
    &:first-child
      margin-top: 20px
  .section
    margin-bottom: 30px
    .question
      border-bottom: 1px solid #f1f1f1
      padding: 15px 0
      .btn-group-justified
        .btn-group
          &:last-child
            .btn
              border-right-width: 1px
          .btn
            border-right-width: 0
      .images
        margin-bottom: 5px
        margin-top: 20px
        img
          image-orientation: from-image
          height: 100px
          width: 100px
          object-fit: cover
          padding: 5px
