#form-detail
  h4
    color: #2776b8
    margin-bottom: 0
    &:first-child
      margin-top: 20px
  .section
    margin-bottom: 30px
    .question
      border-bottom: 1px solid #f1f1f1
      padding: 15px 0
