.pointer
  cursor: pointer

.width-10
  width: 10px

.max-width-300
  max-width: 300px

.middle
  vertical-align: middle !important

.has-error
  > .input-group-addon
    border-color: $redErros
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)

.input-group-addon
  &.input-group-primary
    background-color: $primary
    color: $white
    border-color: $primary

.deleted-item
  transition: background-color 500ms linear
  background-color: transparentize($redErros, 0.6) !important
  color: $white

.editing-item
  transition: background-color 300ms ease
  background-color: transparentize($primary, 0.4) !important
  color: $white

@-webkit-keyframes info-fade
  0%
    background: #d9edf7
  100%
    //background: none


@keyframes info-fade
  0%
    background: #d9edf7
  100%
    //background: none

.highlight-info
  animation: info-fade 2s ease-in 1

.text-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


.chosen-container
  width: 100% !important
  height: 32px


.form-group
  label
    color: #2372bb

