.width-10
  width: 10px

.max-width-300
  max-width: 300px

.middle
  vertical-align: middle !important

.middle-center
  vertical-align: middle !important
  text-align: center !important

.not-allowed
  cursor: not-allowed

.pointer
  cursor: pointer

.zoom-in
  cursor: zoom-in

.zoom-out
  cursor: zoom-out

.has-error
  > .input-group-addon
    border-color: $redErros
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)

//.table-andes
//  tbody
//    tr
//      &:hover
//        box-shadow: inset 3px 0 0 0 #8e3b57

.input-group-addon
  &.input-group-primary
    background-color: $primary
    color: $white
    border-color: $primary

.deleted-item
  transition: background-color 500ms
  background-color: transparentize($redErros, 0.6) !important
  color: $white

.editing-item
  transition: background-color 500ms
  background-color: transparentize($primary, 0.4) !important
  color: $white

@-webkit-keyframes info-fade
  0%
    background: #d9edf7
  100%
    //background: none


@keyframes info-fade
  0%
    background: #d9edf7
  100%
    //background: none

.highlight-info
  animation: info-fade 2s ease-in 1

.text-ellipsis
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap


.chosen-container
  width: 100% !important
  height: 32px


.form-group
  label
    color: #2372bb

.icheck-in-checkbox
  margin-top: -4px
  margin-right: 5px

// miniature in detaill inventory
.images-25
  img
    image-orientation: from-image
    height: 25px
    width: 25px
    object-fit: cover
    padding: 0

// row with right border
.right-border
  div
    border-right: 1px solid #cccccc4d
    &:last-child
      border-right: 0

@media (max-width: 768px)
  .right-border
    .no-right-border-mobile
      border-right: 0

@media (max-width: 768px)
  .vertical-line-mobile
    div
      border-bottom: 1px solid #ddd
      padding-bottom: 5px
      padding-top: 5px
      &:last-child
        border-bottom: none

.btn-filter
  &.btn-default
    &:focus
      outline: 1px auto -webkit-focus-ring-color!important
      outline-color: #3c8dbc !important
    border-color: #d2d6de
    .filter-option
      color: #777 !important
      background: #FFF !important
.open
  .btn-filter
    border-color: #3c8dbc !important
    box-shadow: none


#center-message
  background-color: rgba(50, 50, 50, 0.8)
  color: rgb(250, 250, 250)
  position: fixed
  display: none
  width: auto
  left: 50%
  transform: translateX(-50%)
  height: auto
  top: 70vh
  box-sizing: border-box
  text-align: center
  padding: 10px 50px
  z-index: 9999

.background-transition
  transition: all 500ms

.dropdown-menu-scrollable
  height: auto
  max-height: 170px
  overflow-x: hidden


.change-image-wrapper
  position: relative
  text-align: center
  padding: 10px
  &:hover
    .text-layer
      visibility: visible
      opacity: 1
      .text
        transform: translateY(0)
  .text-layer
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background: rgba(0, 0, 0, 0.5)
    color: #fff
    visibility: hidden
    opacity: 0
    display: flex
    align-items: center
    justify-content: center

    /* transition effect. not necessary */
    transition: opacity .2s, visibility .2s

    border-radius: 5px
    //border: #0a0a0a solid 1px
    .text
      transition: .2s
      transform: translateY(2em)

.marker
  background-image: url("/static/images/files/pin_derco.svg")
  background-size: cover
  width: 50px
  height: 50px
  border-radius: 50%
  cursor: pointer
