.inventory
  border: 1px solid #cccccc4d
  padding: 10px
  margin-bottom: 10px
  h4
    margin-top: 3px
    margin-bottom: 10px
  .text-detail-user
    p
      font-size: 80%
      margin-top: 40px
      margin-bottom: 5px
  .btn-group
    margin-top: 10px


@media (max-width: 768px)
  .inventory
    .text-detail-user
      p
        margin-top: 10px
