.inventory
  //display: flex
  border-bottom: 1px solid #f8f7f7
  &:last-child
    border-bottom: 0
  padding: 15px 5px
  margin-bottom: 10px
  h4
    margin-top: 3px
    margin-bottom: 10px
  .text-detail-user
    display: flex
    flex: 1
    min-height: 80px
    .detail-info
      align-self: flex-end
      font-size: 80%

  .btn-group
    margin-top: 10px

.label-units 
  height: 25px !important
  min-width: 100px
  max-width: 100px
  border-radius: 100px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  white-space: nowrap
  color: white
  font-weight: 600

.label-container 
  height: 25px !important
  min-width: 100px
  border-radius: 100px
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  white-space: nowrap
  color: white
  font-weight: 600

.label-container-open
  background: #E08406

.label-container-check
  background: #E0BE04

.label-container-pending
  background: #2DBDFD

.label-container-empty
  background: #00AA51

.label-container-missing
  background: #dd4b39

.label-orange
  background: #ff851b !important
  color: white !important


.rdt_TableHeadRow
  .jGjcID
    background: #3279B7

@media (max-width: 768px)
  .inventory
    .text-detail-user
      p
        margin-top: 10px

// create view
.number-question
  display: flex
  align-items: center
  span
    margin-left: 5px

.tabs-labels
  border-top: 0px !important
  margin-bottom: 0px !important

.label-shown
  display: block

.label-no-shown
  display: none

.modal-unit-labels
  color: white
  border-radius: 100px
  padding: 4px

.th-default-w100px
  width: 100px

.th-default-w80px
  width: 80px

.td-padding-top15
  padding-top: 15px !important

.btn-modal-add-label
  min-width: 120px
  color: white
  border-radius: 100px
  border: none
  padding: 2px 35px 2px 15px
  position: relative
  text-align: center
  cursor: pointer
  i
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)

.btn-modal-add-label:focus
  color: white

.btn-modal-add-label:hover
  color: white

.added-label
  padding-top: 5px
  padding-left: 5px

.icon-add-label-units
  position: relative
  left: 7.5%
  top: 50%
  transform: translateY(-50%)

.btn-add-unit-labels
  padding: 5px 10px
  cursor: pointer

.inline-element
  display: inline !important

.unit-vin-decorator
  text-decoration: underline


.clean-filter-wrapper
  padding-top: 26px
  padding-left: 15px

.zero-marging-botton
  margin-bottom: 0px

.table-line-Height
  line-height: 1.6px !important

.default-padding-5px
  padding: 5px

.default-padding-8px
  padding: 8px

.label-has-damages
  color: #FFF !important
  background: #DD4B39

.has-damages
  color: #DD4B39 !important

.div-border-left
  border-left: 2px solid rgba(204,204,204,.3019607843) !important

.div-row-padding
  padding-bottom: 10px

.unit-icon-margin
  margin-right: 3px

.container-row-wrapper
   padding: 5px
   padding-top: 10px

.container-row-b-padding
  padding-bottom: 10px

.filter-row-top-margin
  margin-top: 10px


.summary-label-finalized
  margin-left: -21px

.summary-label-created-absolute
  padding: 6px 
  background: #ecf0f5

.summary-label-status-p-top
  padding-top: 12px

.summary-label-status-cero-padding
  padding: 0px

.label-status-badge
  padding: 5px
  border-radius: 100px

.label-min-with-170
  min-width: 170px

.label-m-top-16
  margin-top: -16px

.summary-detail-metadata-box
  padding: 5px 
  font-size: 12px 

.summary-detail-progress-box
  padding: 5px 
  padding-bottom: 15px
  font-size: 12px 

.summary-box-defaul-padding-b
  padding-bottom: 15px


.summary-progress-text-align
  text-align: left 
  color: black

.summary-progress-label
  position: absolute
  margin-top: 22px
  color: gray 
  font-weight: 500
  font-size: 14px

.summary-progress-label-up
  position: absolute
  margin-top: -22px
  color: gray 
  font-weight: 500
  font-size: 14px

.summary-progress-no-radius
  border-radius: 0px !important

.revision-input-group-answer
  max-width: 200px 
  margin-top: 20px 

.revision-input-field-answer
  margin-left: -10px
  border-radius: 3px

.revision-icon-wrapper-answer
  border: 1px solid #ccc
  border-radius: 3px