.inventory
  //display: flex
  border-bottom: 1px solid #f8f7f7
  &:last-child
    border-bottom: 0
  padding: 15px 5px
  margin-bottom: 10px
  h4
    margin-top: 3px
    margin-bottom: 10px
  .text-detail-user
    display: flex
    flex: 1
    min-height: 80px
    .detail-info
      align-self: flex-end
      font-size: 80%

  .btn-group
    margin-top: 10px


@media (max-width: 768px)
  .inventory
    .text-detail-user
      p
        margin-top: 10px

// create view
.number-question
  display: flex
  align-items: center
  span
    margin-left: 5px

