#login-container
  margin: 15vh 0 0 0
  .logo
    margin: 20px 0 20px 0
    max-width: 230px

  .login
    margin: auto
    max-width: 400px
    form
      margin: 0 10px

  .forget-password
    color: $white
    text-decoration: underline

#login-footer
  position: fixed
  width: 100%
  bottom: 10px

// mobile styles
@media (max-width: 767px)
  #login-container
    margin: 10vh 0 0 0
