@import "variables"

.pointer
  cursor: pointer

#login-container
  margin: 15vh 0 0 0
  .logo
    margin: 20px 0 20px 0
    max-width: 280px

  .login
    margin: auto
    max-width: 400px
    form
      margin: 0 10px

  .forget-password
    color: $white
    text-decoration: underline

#login-footer
  position: fixed
  width: 100%
  bottom: 10px

.has-error
  > .input-group-addon
    border-color: $redErros
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
