@import "variables"

#login-container
  margin: 15vh 10px 0 10px
  .logo
    margin: 20px 0 40px 0

  .login
    margin: auto
    max-width: 400px
  .forget-password
    color: $white
    text-decoration: underline


.has-error
  > .input-group-addon
    border-color: $redErros
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
