{
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "modules": true,
    "superInFunctions": true
  },
  "plugins": [
    "react",
    "html"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "experimentalDecorators": true,
      "jsx": true
    }
  },
  "rules": {
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^_$"
      }
    ],
    "space-before-blocks": [
      "error",
      "always"
    ],
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-debugger": [
      "warn"
    ],
    "comma-dangle": [
      "warn",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-empty": [
      "warn"
    ],
    "no-constant-condition": [
      "warn"
    ],
    "valid-typeof": [
      "warn"
    ],
    "no-redeclare": [
      "warn",
      {
        "builtinGlobals": true
      }
    ],
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-undef": "off",
    "space-unary-ops": [
      "warn",
      {
        "words": true,
        "nonwords": false
      }
    ],
    "no-multi-spaces": "warn",
    "arrow-spacing": [
      "warn",
      {
        "before": true,
        "after": true
      }
    ],
    "react/jsx-closing-bracket-location": 1,
    "react/jsx-indent-props": 1,
    "react/jsx-indent": 1
  }
}
