@import "variables";

body {
  color: #4a4a4a;
}

.d-flex {
  display: flex;
}

::selection {
  background: #338ffe;
  color: white;
  text-shadow: none;
}

.pointer {
  cursor: pointer;
}

.loading {
  margin: 8px 0;
  &.progress{
    padding: 0!important;
    position: relative!important;
    height: 4px!important;
    display: block!important;
    width: 100%!important;
    border-radius: 2px!important;
  }
}

.font-12 {
  font-size: 12px !important;
}

.font-16 {
  font-size: 16px !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-start {
  justify-content: flex-start !important;
}

#materialbox-overlay{
  opacity: 0.5 !important;
}

.align-center {
  align-items: center !important;
}

.btn {
  border-radius: 5px;
  font-size: 13px;
  background-color: #2676b8;
  box-shadow: none !important;
}

.status {
  background-position: center;
  background-size: 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  &.status-1 {
    background-image: url('../../img/lock-open.svg');
  }
  &.status-2 {
    background-image: url('../../img/lock-closed.svg');
  }
  &.status-3 {
    background-image: url('../../img/lock-invalid.svg');
  }
}

.text-black {
  color: #4a4a4a !important;
}

.option {
  width: 33.333333%;
  margin: 16px 0 0;
  [type="radio"].with-gap:checked + label:after {
    background-color: #009cde !important;
    border: 2px solid #009cde !important;
    width: 18px;
    height: 18px;
  }
  [type="radio"].with-gap:checked + label:before {
    border: 2px solid #009cde !important;
    height: 18px;
    width: 18px;
  }
  [type="radio"]:not(:checked) + label:before, [type="radio"]:not(:checked) + label:after, [type="radio"].with-gap:not(:checked) + label:before {
    border: 2px solid #5a5a5a !important;
    height: 18px;
    width: 18px;
  }
  [type="radio"] + label:before, [type="radio"] + label:after {
    margin: 2px !important;

  }
  [type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
    padding-left: 30px;
    padding-right: 25px;
    font-size: 14px;
    line-height: 18px;
    height: auto;
  }
  label {
    padding-top: 2px;
    color: #4a4a4a;
  }
}
input{
  padding-left: 0!important;
}
.support-ticket {
  h1 {
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 500;
  }
  div {
    .input-field {
      &.error {
        span {
          color: #d50000;
          display: block;
        }
        input[type=text]:focus:not([readonly]), input, textarea {
          border-bottom: 1px solid #d50000 !important;
          box-shadow: 0 1px 0 0 #d50000 !important;
        }
        label, label.active {
          color: #9e9e9e !important;
        }
      }
      &:first-of-type:not(:only-of-type) {
        padding-right: 80px !important;
      }
      label {
        left: 0;
      }
      span {
        display: none;
      }
      .caret{
        color: #9e9e9e;
        display: inline;
      }
      &:last-of-type{
        margin-bottom: 15px;
      }
    }
  }
  .header-ticket {
    background-color: white !important;
    display: flex;
    align-items: center;
    // justify-content: space-between!important;
    padding: 0 14px 0 33px;
    // flex-direction: row-reverse;
    &:first-of-type {
      display: flex;
      align-content: center;
      justify-content: space-between;
      height: 70px;
      margin-top: 30px;
      margin-bottom: 15px;
      textarea {
        border: none !important;
      }
      button {
        background-color: transparent;
        color: $bluish;
        border: none;
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 30px;
        font-weight: 700;
        i {
          margin-right: 8px;
        }
        &:hover{
          color: #06c1ff;
        }
      }
    }
  }
  .case-status {
    .status-mark {
      padding: 8px 60px 0 0;
      &:first-of-type {
        i {
          border: 2px solid #acb5bf;
          border-radius: 50%;
        }
      }
      p {
        color: #acb5bf;
        font-weight: 500;
        font-size: 14px;
      }
      i {
        color: #acb5bf;
      }
      &.status-1 {
        p {
          color: #1d811f;
        }
        i {
          border: 2px solid #1d811f;
          color: #1d811f;
        }
      }
      &.status-2 {
        p, i {
          color: #04457a !important;
          border: none;
        }
      }
      &.status-3 {
        p, i {
          color: #eca800 !important;
          border: none;
        }
      }
    }
  }
  .ticket-create {
    background-color: white !important;
    padding: 30px 50px;
    h1{
      margin-bottom: 39px;
    }
    .col {
      padding: 5px 0;
    }
  }
  .ticket-detail {
    background-color: white !important;
    padding: 30px 50px;
    margin-top: 15px;
    .col {
      padding: 5px 0;
    }
  }
  table.ticket-list {
    background-color: white;
    th, td, tr, thead {
      border-bottom: none!important;
    }
    th {
      color: #9b9b9b;
    }
    thead {
      tr {
        border-left: 4px solid white;
      }
    }
    tbody {
      tr {
        border-left: 4px solid white;
        &:hover {
          background-color: rgba(173, 218, 248, 0.1);
          border-left: 4px solid #06c1ff;
        }
        border-bottom: solid 1px #eee;
        td {
          color: rgba(51, 51, 51, 0.5);
        }
        &.status-1 {
          td {
            color: #4a4a4a;
          }
        }
      }
    }
  }
}

.descriptive-case {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38)!important;
  margin-bottom: 10px;
}

.error{
  .descriptive-case {
    color:  #d50000 !important;
  }
  .option{
    label{
      color:  #d50000 !important;
    }
  }
}
.input-field textarea + label{
  transform: translateY(0px)!important;
}
.input-field textarea + label:not(.label-icon).active{
  transform: translateY(-29px) scale(0.8)!important;
}
.select-wrapper + label{
  top: -28px;
  font-weight: 300;
}
[type="checkbox"].filled-in:checked + label:after {
  border-color: #009cde;
  background-color: #009cde;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
  border-radius: 3px;
}
.materialize-textarea{
  padding: 0!important;
  padding-top: 16px;
  min-height: 32px!important;
}
.multi-image-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 40px;
  .img-container{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 16px;
    border: solid 1px #d7d7d7;
    border-radius: 2px;
    background-color: #ffffff;
    margin-bottom: 24px;
    .img{
      background-size: cover;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 2px;
      &.materialboxed{
        top: 0;
        left: 0;
      }
    }
    .material-placeholder {
      height: 100%;
      width: 100%;
      #materialbox-overlay+.materialboxed{
        margin-left: auto;
        margin-right: auto;
        min-width: 52.5vw;
        background-size: contain !important;
        background-position: center;
      }
    }
  }
}
.add-subject{
  display: flex;
  align-items: center;
  i{
    margin-right: 8px;
  }
  span{
    font-weight: 700;
    margin-top: 6px;
    letter-spacing: 1px;
  }
}
.progress{
  position: absolute;
  z-index: 1000;
  width: 90px;
}
.comments-container{
  .comment{
    border-bottom: 1px solid #efefef;
    padding: 10px 0;
    .row {
      margin-bottom: 0;
    }
    .material-icons {
      font-size: 14px;
      color: #9b9b9b;
      margin-right: 5px;
      top: 2px;
    }
    .date {
      span{
        color: #9b9b9b;
        font-size: 12px;
        padding-top: 4px;
      }
    }
    p{
      font-size: 14px;
      color: rgba(0,0,0,0.87);
      display: flex;
      align-items: flex-start;
      padding: 8px 0;
      //&.date{
      //  color: #9b9b9b;
      //  font-size: 12px;
      //  padding-top: 4px;
      //}
      &.author{
        font-size: 14px;
        color: #4a4a4a;
        padding-bottom: 0;
      }
    }
    .comment-paragraph{
      margin: 10px 0;
      i{
        margin-top: -4px;
        margin-right: 8px;
        &.commented{
          color: $bluish;
          transform: rotate(180deg);
          font-size: 24px;
        }
        &.answer{
          color: $darken-blue;
          font-size: 24px;
        }
      }
      p{
        padding: 0 1px;
        line-height: 20px;
        display: flex;
      }
    }
  }
}
.add-comment{
  margin-top: 60px;
  .input-field{
    //margin-left: 22px;
    .materialize-textarea{
      margin-right: -30px;
      &#comment{
        padding-right: 50px!important;
      }
    }
    label{
      &.active{
        +div{
          a{
            i{
              color: #2676b8;
            }
          }
        }
      }
    }
    div{
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
      margin-bottom: 29px;
      a{
        i{
          color: rgba(0,0,0,0.38);
        }
      }
    }
  }
}
.addfile-button{
  align-items: flex-end!important;
  max-height: 24px;
  font-weight: 700;
  font-size: 12px;
  color: #04457a;
  width: 200px;
  i {
      max-height: 20px !important;
      margin-right: 16px;
  }
  &:hover{
      color: #06c1ff;
  }
}
.send-ticket-button{
  color: #2676b8;
  i {
      max-height: 20px !important;
  }
  &:hover{
      color: #06c1ff!important;
  }
}
.black-button {
  color: #4a4a4a;
  i {
      max-height: 20px !important;
  }
  &:hover{
      color: #6e7a89!important;
      i{
        color: #6e7a89!important;
      }
  }
}
.select-dropdown{
  &.active{
    +ul{
      li{
        span{
          display: block;
        }
      }
    }
  }
}
.erase-photo-button{
  position: absolute;
  top: -12px;
  right: -12px;
  z-index: 100;
  background-color: white;
  border-radius: 50%;
  color: #4a4a4a;
}
.add-file{
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f3f4f6;
  border: 1px dashed #979797;
  cursor: pointer;
  margin-bottom: 26px;
}
textarea.materialize-textarea:focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]){
  border-bottom: 1px solid #2676b8!important;
  box-shadow: 0 1px 0 0 #2676b8!important;
}
.textarea.materialize-textarea{
  height: auto;
}
.close-ticket{
  color: #044579;
  &:hover{
    color: #06c1ff!important;
    .status-2 {
      background-image: url('../../img/lock-closed-hover.svg');
    }
  }
}
.invalid-ticket{
  color: #eca800!important;
  &:hover{
    color: #FFC500!important;
    .status-3 {
      background-image: url('../../img/lock-invalid-hover.svg');
    }
  }
}
.modal-ticket{
  border-radius: 2px;
  margin-top: 100px;
  .modal-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    i{
      font-size: 60px;
      color: #eca800;
    }
    h4{
      color: #4a4a4a;
      font-weight: 400;
      margin: 10px 0;
      font-size: 18px;
    }
    p{
      color: #4a4a4a;
      font-weight: 300;
      margin: 10px 0;
      text-align: center;
      font-size: 14px;
    }
  }
  .modal-footer{
    a{
      pointer-events: all;
      font-size: 12px;
      font-weight: 700;
      &:last-of-type{
        color: #eca800;
      }
    }
  }
}
.toast-message{
  position: relative;
  top: 0;
  left: 0;
  height: 0;
  z-index: -10;
  .toast{
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    top: calc(100%);
    left: 0;
    transition: all 3s;  
  }
  .toasted{
    position: fixed;
    bottom: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    top: calc(100% - 60px);
    left: 0;
    transition: all 1s;
  }
}
.closed-by{
  color: #4a4a4a;
  font-weight: 300;
  font-size: 12px;
  padding-left: 33px;
  margin-top: -10px;
}
.flex-column{
  flex-direction: column;
}